<header>
  <div class="bg-image"></div>
  <div class="container">
    <div class="logo">
      <img src="/user/themes/agency/img/wag-logo.png" alt="Women's Action Group of Forest Hills" />
    </div>
  </div>
</header>